body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    min-width: 320px;
    overflow-x: hidden;
    max-width: 100%;
  }

    .device-table-container {
    width: 100%;
    overflow-x: auto;
     background-color:  #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.1);
    max-width: 100%;
  }
  thead{
    border-bottom: 3px solid #f8f8f8;
    
  }

  .table-header {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    
  }

  .device-table {
    width: 100%;
    border-collapse: collapse;
    min-width:  600px;
    max-width: 100%;
     background-color:  #FFFFFF;
  }
  
  .device-table th, .device-table td {
    vertical-align: top;
    text-align: left;
    padding: clamp(10px, 2vw, 25px);
   
  }

  .device-table th {
   
    font-weight: bold;
  }
  
  .sub-location{
    color: #0357ab;
  }
  .sub-bandwidth{
    font-size: 12px;
    color: #777777;
  }
  
  .status, .download {
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    color:#024d98 ;
  }
  .download-status,.status-indicators {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
  }

    .device-status-summary {
    display: flex;
    gap: 16px;
    top: 502px;
    left: 358px;
    flex-wrap: wrap;
    padding: 16px, 24px,16px,24px ;
    margin-bottom: 20px;
    background-color:  #FFFFFF;
    height: auto;
    border-radius: 10px;
    align-content: center;
    min-height: 51px;
    max-height: 100px;
  }
  
   .device-status-summary span {
    position: relative;
    font-weight: 400;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 14px;
    margin-left: 2%;
    white-space: nowrap;
    flex: 0 1 auto;
    color:#2D3540;
    line-height: 24px;
  } 

   .device-status-summary span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    gap: 4px;
    transform: translateY(-50%);
  } 

   .failed::before { background-color: #ff0000; }
  .cancelled::before { background-color: #ff8800; }
  .scheduled::before { background-color:  #B2B2B2; }
  .downloading::before { background-color: #5555fd; }
  .downloaded::before { background-color: #1e741eca; } 
  


  .download-status{
    margin-right: 4%;
  }

  
  .online-indicator {
    background-color: #1e741eca;
  }
  
  .offline-indicator {
    background-color: #ff0000;
  }
  
  .failed-indicator {
    background-color: #ff0000;
  }
  
  .cancelled-indicator {
    background-color: #ff8800;
  }
  
  .scheduled-indicator{
    background-color: gray;
  }
  
  .downloading-indicator{
    background-color: #5555fd;
  }
  
  .downloaded-indicator{
    background-color: #1e741eca;
  }
  
 
  @media (max-width: 1200px) {
    .device-dashboard {
        padding: 10px;
    }
    
    h1 {
        font-size: clamp(18px, 4vw, 24px);
        padding-left: 0.5%;
        margin-top: 0;
        margin-left: 0;
    }
    
    .device-status-summary {
        gap: 8px;
        padding: 8px;
    }
    
   
} 